header {
  background-color: #F7B30C;
}
header {
  display: flex;
  padding: 10px;
}
header div {
  width: 33%;
}
header .language-selector {
  text-align: center;
}
header .theme-selector {
  text-align: right;
}
.body {
 font-size: 48px;
}
.language-selector, .theme-selector {
  cursor: pointer;
}
.body div {
  padding: 40px;
  text-align: center;
}